mixin itemList
  ul.list
    each i in items
      li.list__item
        if i.image
          img(src= i.image alt= i.name)
        h3= i.brandId.name
        p= i.collectionId.name
        p
          span Trader:&nbsp;
          a(href=`/user/${i.userId._id}`) #{i.userId.name}
        ul
          li Condition:&nbsp;
            each c, index in i.condition
              - const postfix = index !== i.condition.length - 1 && i.condition.length > 1 ? ', ' : '';
              span #{c}#{postfix}
          li Purchase date: #{h.moment(i.purchaseDate).format('DD-MM-YYYY')}
          li Size: #{i.originalSize} Litres
          li Quantity remaining: #{i.quantityRemaining} Litres
        p= i.description
        p Would like to trade this item for:
        if i.userId._id.toString() == user._id
          p 
            a(href=`/item/edit/${i._id}`) Edit listing